@import "../../screens/landingPage/landingPage.scss";

.candidateBenefitsContainer {
    padding: 24px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E5E5;
    position: relative;

    @media screen and (max-width: $bp-medium) {
        padding: 0px 20px;
        margin-top: 4rem;
    }

    &__title {
        @include bold-text;
        width: 55rem;
        text-align: center;

        @media screen and (max-width: $bp-medium) {
            width: 100%;
        }

        &__blue {
            color: var(--color-primary);
        }
    }

    &__flashDottedIcon {
        position: absolute;
        bottom: 25%;
        left: 0;
    }

    &__content {
        display: flex;

        &__iconCardsContainer {
            display: flex;
            flex-wrap: wrap;
            width: 58rem;

            @media screen and (max-width: $bp-medium) {
                width: 100%;
                justify-content: space-between;
            }
        }
    }


    &__getEmployedCard {
        width: 104rem;
        height: 63.2rem;
        background: #FFECE5;
        border-radius: 16px;
        padding-left: 7.2rem;
        display: flex;
        margin-top: 22rem;

        @media screen and (max-width: $bp-medium) {
            width: 100%;
            margin-top: 5rem;
            flex-direction: column;
            height: auto;
            padding: 40px 24px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin-top: 11.5rem;

            @media screen and (max-width: $bp-medium) {
                margin-top: 0;
            }

            &__icon {
                width: 7.8rem;
                height: 5.4rem;
            }

            &__title {
                font-weight: 400;
                font-size: 4.8rem;
                line-height: 5.7rem;
                margin-top: 2.4rem;

                &__bold {
                    font-weight: 700;

                }
            }

            &__text {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                margin-top: 1.4rem;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.6rem;
            }
        }

        &__image {
            width: 51rem;
            height: 63.2rem;

            @media screen and (max-width: $bp-medium) {
                width: 37.4rem;
                height: 34.2rem;
            }
        }

    }

    &__getPaidCard {
        display: flex;
        width: 104rem;
        height: 63.2rem;
        background: #E2F3F3;
        border-radius: 16px;
        padding-left: 7.2rem;
        margin-top: 8rem;

        @media screen and (max-width: $bp-medium) {
            width: 100%;
            margin-top: 5rem;
            flex-direction: column-reverse;
            height: auto;
            padding: 40px 24px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin-top: 11.5rem;

            @media screen and (max-width: $bp-medium) {
                margin-top: 0;
            }

            &__icon {
                width: 7.8rem;
                height: 5.4rem;
            }

            &__title {
                font-weight: 400;
                font-size: 4.8rem;
                line-height: 5.7rem;
                margin-top: 2.4rem;

                &__bold {
                    font-weight: 700;

                }
            }

            &__text {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                margin-top: 1.4rem;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.6rem;

                &__cards {
                    display: flex;
                    flex-wrap: nowrap;
                }
            }
        }

        &__image {
            width: 51rem;
            height: 63.2rem;

            @media screen and (max-width: $bp-medium) {
                width: 37.4rem;
                height: 34.2rem;
            }
        }

    }
}

.ant-tabs-nav-list {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.iconCardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 4rem;

    &__text {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.6rem;
        color: #767676;
        width: 20.1rem;
    }

    @media screen and (max-width: $bp-medium) {
        width: 190px;
    }

    &__icon {
        @media screen and (max-width: $bp-medium) {
            width: 32px;
            height: 32px;
        }
    }
}

.tabIcon {
    height: 1.6rem;
    width: 2.3rem
}

.tabText {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.8rem;
}