.primaryButton {
    padding: 2rem;
        margin-right: auto;
        border: none;
        border-radius: 8px;
        outline: none;
        background: var(--color-primary);
        color: var(--color-white);
        font-size: 1.4rem;
        line-height: 2.4rem;
        cursor: pointer;
}