$bp-largest: 91em; // 1440px
$bp-larger: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

@mixin bold-text {
    font-size: 4.8rem;
    line-height: 6.2rem;
    font-weight: 700;

    @media screen and (max-width: $bp-medium) {
        font-size: 3.4rem;
        line-height: 4.4rem;
    }
}