.pageSwitchButton {
    padding: 2rem;
    margin-right: auto;
    border: none;
    border-radius: 8px;
    outline: none;
    color: var(--color-primary);
    background: #E5E5E5;
    font-size: 1.4rem;
    line-height: 2.4rem;
    cursor: pointer;
    font-weight: 700;
}