@import "../../screens/landingPage/landingPage.scss";

.plantoActionBannerContainer {
    padding: 2.4rem 20rem;

    &__card {
        height: 37rem;
        width: 104rem;
        border-radius: 16px;
        padding: 56px;
        background: #F4F8FD;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &__header {
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 62px;
            text-align: center;

            &__blue {
                color: var(--color-primary)
            }
        }

        &__body {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.9rem;
            text-align: center;

        }
    }
}